.profile-picture-2 {
  height: 80px;
  width: 80px;
}
.task-element{
  background-color: rgb(255, 232, 98);
  flex-basis: 28%;
  margin: 10px 20px;
  padding: 10px 15px;
  border-radius: 10px;
  flex-wrap:wrap;
}
.task-container {
  display:flex;
  flex-wrap:wrap;
}
.task-element-image{
  flex-basis: 100%;
}
